@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html{
  height:100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: auto;
}
.bgslider{
  margin: auto;
  width: 500px;
  margin-top: 350px;
  text-align: center;
}

.bgslider2{
  margin: auto;
  width: 500px;
  margin-top: 100px;
  text-align: center;
}

.bgslider2t{
  margin: auto;
  width: 500px;
  margin-top: 200px;
  text-align: center;
}

.bgslider3{
  margin: auto;
  width: 1200px;
  margin-top: 20px;
}

.bgslider4{
  margin: auto;
  width: 1200px;
  margin-top: 40px;
  color: black;
}


.navc {
  background-color: rgb(10, 29, 66, 0.4);

}

.navd {
  background-color: rgb(10, 29, 66, 1);

}

::-webkit-scrollbar{
  width: 4px;
}

.maincontent {

  color:blanchedalmond;
  font-family: 'Dosis', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
}

.maincontent2 {

  color:blanchedalmond;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
}

.maincontent3 {

  color:blanchedalmond;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
}

.maincontent3t {

  color: gold;

  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
}

.maincontent4 {

  color:black;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
}


.icon-i{
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  bottom:0;
  margin-top : 1.5rem;
  color: #E8E8E8;
}


.fonttm {
  margin-left: 1rem;
  font-family: 'Dosis', sans-serif;  

  font-size: 2.2rem;

  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.fonttm:hover{
  color: blanchedalmond 
}

.fontnav{
  
  font-family: 'Dosis', sans-serif;  

  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}



.fontjoin{
  
  font-family: 'Dosis', sans-serif;  

  font-weight: 900;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}



.fontjoin:hover{
  font-weight: 1000;
  color: blanchedalmond
}


.fontnav:hover{
  font-weight: 1000;
  color: blanchedalmond
}

.tm {
  margin-left: 2rem;
  font-family: 'Dosis', sans-serif;  

  font-size: 2.2rem;

  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.tm:hover{
  color: blanchedalmond
}

.tognav{
  margin-right: 1rem;
  
}

.text-bt{
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Dosis', sans-serif;  
  font-weight: bolder;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: white;
}

.text-bt-2{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Dosis', sans-serif;  
  font-weight: bolder;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: white;
}

.button {
  margin: auto;
  margin-right: 1rem;
  border: none;
  margin-top: 1rem;
  border-radius: 3px;
  background: linear-gradient(to right, rgb(10, 29, 66) 50%, #d13739 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
}


.button:hover {
  background-position: left bottom;
}



@media (max-width:450px){
  .maincontent{
    font-size: 1.7rem;
  }

  .maincontent2 {
    font-size: 1.4rem;

  }
  
  .maincontent3 {
  
    color:blanchedalmond;
    font-size: 1.1rem;
  }

  .maincontent3t {
  
    
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .maincontent4 {
  
    color:black;
    font-size: 1.4rem;

  }
  
  .text-bt{
    font-size: 0.9rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .text-bt-2{
    font-size: 0.9rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  
  .fontnav{
    font-weight: 900;
    font-size: 1.3rem;
    margin-left: 1rem;
  }

  .bgslider{

    margin: auto;
    width: 350px;
    margin-top: 400px;
    text-align: center;
  }

  .bgslider2{
    margin: auto;
    width: 300px;
    margin-top: 100px;
    text-align: center;
  }

  .bgslider2t{
    margin: auto;
    width: 300px;
    margin-top: 100px;
    text-align: center;
  }
  


  .bgslider3{
    margin: auto;
    width: 300px;
    margin-top: 20px;
  }
  
  .bgslider4{
    margin: auto;
    width: 300px;
    margin-top: 40px;
  }



  .tm{
    margin-left: 0px ;

  }
}







code {
  font-family: 'Dosis', sans-serif;
}

.news {
  margin-top: 18rem;
}